/** ADD YOUR AWESOME CODES HERE **/

.catalogo_form {
    background: #ffffff;
    background-size: cover;
    background-position: center center;
    min-height: 650px;
}

.tabla_form {
    background: #ffffff;
    background-size: cover;
    background-position: center center;
    min-height: 650px;
    padding-top: 35px;
}