.texto20{
	color:blue;
	font-size:20pt;
	text-align:center;
	font-weight:bold;
}

.texto16{
	color:blue;
	font-size:16pt;
	text-align:center;
	font-weight:bold;
}

.texto14{
	color:blue;
	font-size:14pt;
	text-align:center;
	font-weight:bold;
}

.campo{
	color:white;
	background:blue;
	font-size:14pt;
	font-weight:bold;
	border-radius:7px;
}

.boton{
	color:white;
	background:blue;
	width:250px;
	height:40px;
	font-size:16pt;
	font-weight:bold;
	border-radius:7px;
}

.boton:hover{
	color:blue;
	background:white;
}

.boton_limpiar{
	color:white;
	background:red;
	width:200px;
	height:40px;
	font-size:14pt;
	font-weight:bold;
	border-radius:7px;
}

.boton_limpiar:hover{
	color:red;
	background:white;
}