.main-header{
    background-color:  rgb(255, 198, 11);

}

.moderna-title-image{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.login-box{
    width: 15em;
    border: 1px salmon solid;
    margin: 5cm auto 22cm auto;
    text-align: center;
    font-size: 1.5em;
    
}

.login-box-title{
    background-color:  salmon;
}

.login-space{
    margin: .2em;
}

.box{
    border: 1px salmon solid;
    margin: 20px;
}